
.box{
    display: flex;
    height: 300px;
    width: 300px;
    background-color: blue;
    color: white;
    justify-content: center;
    align-items: center;
    transition: 2s;
    transition-delay: 1s;
}

.box:hover{
    background-color: green;
    height: 500px;
    width: 500px;
    border-radius: 100px;
    font-size: 70px;
}