.container{
    display: flex;
    justify-content: space-around;
    background-color: green;
    position: sticky;
    top: 0;
    
}
.divone{
    color: blue;
    padding: 20px;
    background-color: pink;
}
.divtow{
    background-color: red;
    padding: 20px;
}
.divthree{
    background-color: yellow;
    padding: 20px;
}
